
@{
    ViewData["title"] = "Alta Pedido";
}

<h1>@ViewData["title"]</h1>
<h2>Se cargo el pedido con exito!</h2>
<script LANGUAGE=javascript>
    document.write("Mostrando pedidos...");
    setTimeout( funcition() {window.location.href = "MostrarPedidos.cshtml";},5000);
</script>
