
@{
    ViewData["title"] = "Alta Pedido";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"]</title>
    <script>
        function redireccionar(){window.location="MostrarPedidos";}
        setTimeout ("redireccionar()", 4000);
    </script>
</head>
<body>
    <h1>@ViewData["title"]</h1>
    <h2>Se cargo el pedido con exito!</h2>
</body>
</html>

