@{
    ViewData["Title"] = "Baja pedido";
}
<h1>@ViewData["Title"]</h1>
<h2>Se elimino con exito al pedido numero: @ViewData["NumPedido"]</h2>
<script LANGUAGE=javascript>
    document.write("Mostrando pedidos...");
    setTimeout( funcition() {window.location.href = "MostrarPedidos.cshtml";},5000);
</script>