@{
    ViewData["Title"] = "Baja pedido";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script>
        function redireccionar(){window.location="MostrarPedidos";}
        setTimeout ("redireccionar()", 4000);
    </script>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <h2>Se elimino con exito al pedido numero: @ViewData["NumPedido"]</h2>
</body>
</html>

