@{
    ViewData["title"] = "Alta Pedido";
}

<h1>@ViewData["title"]</h1>
<h2>Se cargo el pedido y su cliente asociado</h2>

<script>
    document.write("Mostrando pedidos...");
    setTimeout( function() { window.location.href = "MostrarPedidos"; }, 3500 );
</script>