@{
    ViewData["Title"] = "Eliminar Pedido";
}
<h1>Se elimino el pedido numero: @ViewData["NumeroPedido"]</h1>

<script>
    document.write("Mostrando Pedidos...")
    setTimeout( function() { window.location.href = "MostrarPedidos"; }, 2500 );
</script>