
@{
    ViewData["title"] = "Alta Usuario";
}

<h1>@ViewData["title"]</h1>
<h2>Se cargo el cadete con exito!</h2>


<script LANGUAGE=javascript>
    document.write("Regresando a la pagina anterior...");
    setTimeout("window.history.go(-1)",2000);
</script>
