@{
    ViewData["Title"] = "Baja cadete";
}
<h1>@ViewData["Title"]</h1>
<h2>Se elimino con exito al cadete de ID: @ViewData["IDCadete"]</h2>
<script LANGUAGE=javascript>
    document.write("Mostrando cadetes...");
    setTimeout( funcition() {window.location.href = "MostrarCadetes.cshtml";},5000);
</script>