html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#UPCadete {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(157, 240, 164);
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color:rgb(245, 24, 24);
}

.enlaceBoton{
  color: white;
  text-decoration: none;
}

.idB h3
{
  text-align: center;
}


th{
  text-align: center;
  border: 0.001em solid black;
}

td
{
  text-align: center;
  vertical-align: middle;
  border: 0.01em solid black;
}

table
{
  box-shadow: 0.5em 0.5em 0.9em 0.1em rgb(104, 103, 103);
}